/* --------------------------------------------------------
Flex Grid System

version: 0.1
author: Karan Sharma
email: karan.sharma@zerodha.com
----------------------------------------------------------*/

$gutter: 10px;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 481px;
$breakpoint-desktop: 780px;

/* Grid
----------------------------------------------------------*/
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	box-sizing: border-box;
}

.row {
    box-sizing: border-box;
	display:flex;
	flex: 0 1 auto;
	flex-flow: row wrap;
	margin: 0 $gutter;
}

// Columns

.columns, .column {
    box-sizing: border-box;
	text-align: center;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1;
	margin: $gutter;
}

.one {
	max-width: calc(100% / 12);
}

.two {
	max-width: calc(100% / 12 * 2);
}

.three {
	max-width: calc(100% / 12 * 3);
}

.four {
	max-width: calc(100% / 12 * 4);
}

.five {
	max-width: calc(100% / 12 * 5);
}

.six {
	max-width: calc(100% / 12 * 6);
}

.seven {
	max-width: calc(100% / 12 * 7);
}

.eight {
	max-width: calc(100% / 12 * 8);
}

.nine {
	max-width: calc(100% / 12 * 9);
}

.ten {
	max-width: calc(100% / 12 * 10);
}

.eleven {
	max-width: calc(100% / 12 * 11);
}

.twelve {
	max-width: 100%;
}

// Offsets

.column-offset-0 {
	margin-left: 0;
}

.column-offset-1 {
	margin-left: 8.33333333%;
}

.column-offset-2 {
	margin-left: 16.66666667%;
}

.column-offset-3 {
	margin-left: 25%;
}

.column-offset-4 {
	margin-left: 33.33333333%;
}

.column-offset-5 {
	margin-left: 41.66666667%;
}

.column-offset-6 {
	margin-left: 50%;
}

.column-offset-7 {
	margin-left: 58.33333333%;
}

.column-offset-8 {
	margin-left: 66.66666667%;
}

.column-offset-9 {
	margin-left: 75%;
}

.column-offset-10 {
	margin-left: 83.33333333%;
}

.column-offset-11 {
	margin-left: 91.66666667%;
}



// helper classes

.between {
	justify-content: space-between;
}

.end {
	justify-content: flex-end;
}

.around {
	justify-content: space-around;
}

.text-center {
	text-align: center;
}

.row-align-center {
	align-items: center;
}

.space-right {
	margin-right: $gutter;
}

.space-left {
	margin-left: $gutter;
}

.space-bottom {
	margin-bottom: $gutter;
}

.space-top {
	margin-top: $gutter;
}

.first {
    order: -1;
}

.last {
    order: 1;
}

/*
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w $breakpoint-tablet to $breakpoint-desktop
*/

@media screen and (max-width: 768px) {
	.container {
		overflow: auto;
	}
	.columns, .column {
		min-width: 100%;
		margin: $gutter 0;
	}
	.column-offset-0,
	.column-offset-1,
	.column-offset-2,
	.column-offset-3,
	.column-offset-4,
	.column-offset-5,
	.column-offset-6,
	.column-offset-7,
	.column-offset-8,
	.column-offset-9,
	.column-offset-10,
	.column-offset-11,
	{
		margin: unset;
	}
}
