/* --------------------------------------------------------
Flex Grid System

version: 0.1
author: Karan Sharma
email: karan.sharma@zerodha.com
----------------------------------------------------------*/
/* Grid
----------------------------------------------------------*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 0 10px;
}

.columns, .column {
  box-sizing: border-box;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  margin: 10px;
}

.one {
  max-width: calc(100% / 12);
}

.two {
  max-width: calc(100% / 12 * 2);
}

.three {
  max-width: calc(100% / 12 * 3);
}

.four {
  max-width: calc(100% / 12 * 4);
}

.five {
  max-width: calc(100% / 12 * 5);
}

.six {
  max-width: calc(100% / 12 * 6);
}

.seven {
  max-width: calc(100% / 12 * 7);
}

.eight {
  max-width: calc(100% / 12 * 8);
}

.nine {
  max-width: calc(100% / 12 * 9);
}

.ten {
  max-width: calc(100% / 12 * 10);
}

.eleven {
  max-width: calc(100% / 12 * 11);
}

.twelve {
  max-width: 100%;
}

.column-offset-0 {
  margin-left: 0;
}

.column-offset-1 {
  margin-left: 8.33333333%;
}

.column-offset-2 {
  margin-left: 16.66666667%;
}

.column-offset-3 {
  margin-left: 25%;
}

.column-offset-4 {
  margin-left: 33.33333333%;
}

.column-offset-5 {
  margin-left: 41.66666667%;
}

.column-offset-6 {
  margin-left: 50%;
}

.column-offset-7 {
  margin-left: 58.33333333%;
}

.column-offset-8 {
  margin-left: 66.66666667%;
}

.column-offset-9 {
  margin-left: 75%;
}

.column-offset-10 {
  margin-left: 83.33333333%;
}

.column-offset-11 {
  margin-left: 91.66666667%;
}

.between {
  justify-content: space-between;
}

.end {
  justify-content: flex-end;
}

.around {
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.row-align-center {
  align-items: center;
}

.space-right {
  margin-right: 10px;
}

.space-left {
  margin-left: 10px;
}

.space-bottom {
  margin-bottom: 10px;
}

.space-top {
  margin-top: 10px;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.vertical {
  flex-flow: column wrap;
}

/*
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w $breakpoint-tablet to $breakpoint-desktop
*/
@media screen and (max-width: 768px) {
  .container {
    overflow: auto;
  }

  .columns, .column {
    min-width: 100%;
    margin: 10px 0;
  }

  .column-offset-0,
.column-offset-1,
.column-offset-2,
.column-offset-3,
.column-offset-4,
.column-offset-5,
.column-offset-6,
.column-offset-7,
.column-offset-8,
.column-offset-9,
.column-offset-10,
.column-offset-11 {
    margin: unset;
  }
}
body {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.07rem;
  -moz-osx-font-smoothing: grayscale;
}

.box-column {
  min-height: 3rem;
  background: #1238AB;
  border: 1px solid #FFF;
  border-radius: 2px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.grid-header {
  margin: 5rem 0;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4f559c;
  white-space: pre;
  font-size: 0.875rem;
  padding: 1.5rem;
  word-wrap: normal;
  overflow-x: auto;
}

pre code {
  background-color: transparent;
}
pre code .name-highlight {
  color: #ff5598;
}
pre code .div-highlight {
  color: #41ad8f;
}
pre code .class-highlight {
  color: #6C1AEF;
}

.highlight {
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  border-radius: 4px;
}
.highlight pre {
  overflow: auto;
  max-width: 100%;
}

.logo-img {
  width: 200px;
}

.sub-header {
  font-size: 1.5rem;
}

.site-header {
  margin: 3rem 0;
}

/*# sourceMappingURL=static/css/main.css.map */
