/* --------------------------------------------------------
Flex Grid System

version: 0.2
author: Karan Sharma
email: karan.sharma@zerodha.com
----------------------------------------------------------*/

$gutter: 10px;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 481px;
$breakpoint-desktop: 780px;

/* Grid
----------------------------------------------------------*/

.container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: $gutter*2;
	box-sizing: border-box;
}

.row {
    box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-flow: row wrap;
    // margin: 0 $gutter;
    &.nogutter {
		margin-left: 0;
		margin-right: 0;
        & > .columns {
			padding: 0;
        }
    }
}

// Columns

.columns {
    box-sizing: border-box;
	flex: 0 1 auto;
	margin: $gutter $gutter $gutter 0;
}
.column:first-child,
.columns:first-child {
	margin-left: 0;
}

.one{
	flex-basis: 4.66666666667%;
}
.two {
	flex-basis: 13.3333333333%;
}
.three {
	flex-basis: 22%;
}
.four {
	flex-basis: 30.6666666667%;
}
.five {
	flex-basis: 39.3333333333%;
}
.six {
	flex-basis: 48%;
}
.seven {
	flex-basis: 56.6666666667%;
}
.eight {
	flex-basis: 65.3333333333%;
}
.nine {
	flex-basis: 74.0%;;
}
.ten {
	flex-basis: 82.6666666667%;
}
.eleven {
	flex-basis: 91.3333333333%;
}
.twelve {
	flex-basis: 100%;
	margin-left: 0;
}

// Offsets

.col-offset-0 {
	margin-left: 0;
}

.col-offset-1 {
	margin-left: 8.33333333%;
}

.col-offset-2 {
	margin-left: 16.66666667%;
}

.col-offset-3 {
	margin-left: 25%;
}

.col-offset-4 {
	margin-left: 33.33333333%;
}

.col-offset-5 {
	margin-left: 41.66666667%;
}

.col-offset-6 {
	margin-left: 50%;
}

.col-offset-7 {
	margin-left: 58.33333333%;
}

.col-offset-8 {
	margin-left: 66.66666667%;
}

.col-offset-9 {
	margin-left: 75%;
}

.col-offset-10 {
	margin-left: 83.33333333%;
}

.col-offset-11 {
	margin-left: 91.66666667%;
}



// helper classes

.between {
	justify-content: space-between;
}

.end {
	justify-content: flex-end;
}

.even {
	justify-content: space-evenly;
}

.around {
	justify-content: space-around;
}

.text-center {
	text-align: center;
}

.row-align-center {
	align-items: center;
}

.space-right {
    margin-right: $gutter;
}

.space-left {
    margin-left: $gutter;
}

.space-bottom {
    margin-bottom: $gutter;
}

.space-top {
    margin-top: $gutter;
}

/*
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w $breakpoint-tablet to $breakpoint-desktop
*/

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
	.columns {
		flex: 1 1 auto;
	}
	.col-offset-0, .col-offset-1, .col-offset-2, .col-offset-3 {
		margin: unset;
	}
}

